.vscode/c_cpp_properties.json
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/TraintrackGUI.exe
build/.qt/QtDeploySupport.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.2/CMakeSystem.cmake
build/CMakeFiles/3.25.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/TraintrackGUI.dir/build.make
build/CMakeFiles/TraintrackGUI.dir/cmake_clean.cmake
build/CMakeFiles/TraintrackGUI.dir/compiler_depend.internal
build/CMakeFiles/TraintrackGUI.dir/compiler_depend.make
build/CMakeFiles/TraintrackGUI.dir/compiler_depend.ts
build/CMakeFiles/TraintrackGUI.dir/depend.make
build/CMakeFiles/TraintrackGUI.dir/DependInfo.cmake
build/CMakeFiles/TraintrackGUI.dir/flags.make
build/CMakeFiles/TraintrackGUI.dir/HelpWindow.cpp.obj
build/CMakeFiles/TraintrackGUI.dir/HelpWindow.cpp.obj.d
build/CMakeFiles/TraintrackGUI.dir/LightSettingsWindow.cpp.obj
build/CMakeFiles/TraintrackGUI.dir/LightSettingsWindow.cpp.obj.d
build/CMakeFiles/TraintrackGUI.dir/main.cpp.obj
build/CMakeFiles/TraintrackGUI.dir/main.cpp.obj.d
build/CMakeFiles/TraintrackGUI.dir/objects.a
build/CMakeFiles/TraintrackGUI.dir/progress.make
build/CMakeFiles/TraintrackGUI.dir/Trainwidget.cpp.obj
build/CMakeFiles/TraintrackGUI.dir/Trainwidget.cpp.obj.d
build/CMakeFiles/TraintrackGUI.dir/TraintrackGUI_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/TraintrackGUI.dir/TraintrackGUI_autogen/mocs_compilation.cpp.obj.d
build/CMakeFiles/TraintrackGUI.dir/TraintrackGUI_autogen/EWIEGA46WW/qrc_resources.cpp.obj
build/CMakeFiles/TraintrackGUI.dir/TraintrackGUI_autogen/EWIEGA46WW/qrc_resources.cpp.obj.d
build/CMakeFiles/TraintrackGUI_autogen.dir/AutogenInfo.json
build/CMakeFiles/TraintrackGUI_autogen.dir/AutogenUsed.txt
build/CMakeFiles/TraintrackGUI_autogen.dir/AutoRcc_resources_EWIEGA46WW_Info.json
build/CMakeFiles/TraintrackGUI_autogen.dir/AutoRcc_resources_EWIEGA46WW_Lock.lock
build/CMakeFiles/TraintrackGUI_autogen.dir/AutoRcc_resources_EWIEGA46WW_Used.txt
build/CMakeFiles/TraintrackGUI_autogen.dir/build.make
build/CMakeFiles/TraintrackGUI_autogen.dir/cmake_clean.cmake
build/CMakeFiles/TraintrackGUI_autogen.dir/compiler_depend.make
build/CMakeFiles/TraintrackGUI_autogen.dir/compiler_depend.ts
build/CMakeFiles/TraintrackGUI_autogen.dir/DependInfo.cmake
build/CMakeFiles/TraintrackGUI_autogen.dir/ParseCache.txt
build/CMakeFiles/TraintrackGUI_autogen.dir/progress.make
build/TraintrackGUI_autogen/moc_predefs.h
build/TraintrackGUI_autogen/mocs_compilation.cpp
build/TraintrackGUI_autogen/EWIEGA46WW/moc_HelpWindow.cpp
build/TraintrackGUI_autogen/EWIEGA46WW/moc_HelpWindow.cpp.d
build/TraintrackGUI_autogen/EWIEGA46WW/moc_LightSettingsWindow.cpp
build/TraintrackGUI_autogen/EWIEGA46WW/moc_LightSettingsWindow.cpp.d
build/TraintrackGUI_autogen/EWIEGA46WW/moc_TrainWidget.cpp
build/TraintrackGUI_autogen/EWIEGA46WW/moc_TrainWidget.cpp.d
build/TraintrackGUI_autogen/EWIEGA46WW/qrc_resources.cpp
